*{ margin: 0;
	padding: 0;
    font-family: raleway ;


}
header{

    max-height: 200vh;
}


.main, .pimg{ 
   
    position: relative;
    background-size: cover ;
    background-position: center;
    opacity:0.85;
    background-attachment: fixed;
    background-repeat: no-repeat;
   
    
}

.main{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(himage.jpg);
    font-display: none;  
    font-size: 24px;
    min-height: 150vh;
  
}

.pimg{ 
    background-image: url(/blur.jpg);
   min-height:400px;
 }

.txt2{
    text-align: center;
    padding: 50px 80px;
    background-color: #000;
    color: #ddd;
}
/*
.pimg{
    background-image: url(/blur.jpg);
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-height:200px; 
}*/




.pimg .ptext{
    position:absolute;

  width:100%;
  text-align:center;
  color:#ddd;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

ul{ 
    float: right;
    list-style-type: none;
    margin-top: 1rem;
    margin-right: 1rem;
}
ul li{
    display: inline-block; 
    
}
ul li a{
	text-decoration: none;
	color: #ffffff;
	padding: 4px 15px;
	border: 1px solid transparent;
    transition: 0.4s ease;
    padding: 4px 15px;
}
ul li a:hover{
    background-color:#ffffff;
	color: #000;
}

.srchbar{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;

}

.search-txt{
    border: none;
    outline: none;
    background: none;
    float: left;
    padding: 0;
    color: #fff;
    font-size: 16px;
    transition: 0.4s all;
    line-height: 40px;
    width: 0;

}

.search-btn{
    color: #1abc9c;
    float: right;
    text-decoration: none;
    width: 50px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 45%;
}

.srchbar:hover .search-txt{
width: 240px;
padding: 0 6px;

}
.srchbar:hover .search-btn{
background-color: #fff;
}


.txt{
    position: absolute;
    top:30%;
    left:5rem;
    font-size: 20px;
    color: #fff;
}


.button{
 position: absolute;
 transform: translate(-50%,-50%);
 top: 55%;
 left:45% ;
 display: inline-block;
 display:grid;
 grid-template-columns: 15% 35% 35% 15%;
 grid-gap: 5rem;
 font-size: 35px;
}
.btn1{

    border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.4s ease;
}
.btn1:hover{
    background-color: #fff;
    color: #000;
}

.btn2{

    border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.4s ease;
}
.btn2:hover{
    background-color: #fff;
    color: #000;
}




footer{
    background-color: #000;
    color: #ffffff;
    font-size: 1rem;

}
.leg{
    display: grid;
    grid-template-rows:4fr 2fr; 
    grid-gap: 1rem;
}
.leg_a{display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-emphasis-color: #ffffff;

}
.leg_b{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;

}

